Source: apt-transport-artifact-registry
Maintainer: Google Cloud Team <gc-team@google.com>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9.20160709), dh-golang (>= 1.1), golang-go

Package: apt-transport-artifact-registry
Architecture: any
Depends: ${misc:Depends}
Description: Artifact Registry Apt transport
 Contains an apt transport that can be used to configure authenticated access
 to your Artifact Registry package repository.
